<div class="container">
  <div class="update-section card">
    <%= form_for(resource, as: resource_name, :url => edit_user_path(resource_name), html: { method: :patch }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class="field">
        <%= f.label :gender %>
        <%= f.select :gender, [[], ['Male', 'Male'], ['Female', 'Female']], prompt: "Select Gender" %>
      </div>

      <div class="field">
        <%= f.label :status %>
        <%= f.select :status, [[],['Single','Single'],['Married','Married'], ['In a relationship','In a relationship']], prompt: "Please Select" %>
      </div>

      <div class="field">
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>
