<div class="container">
  <div class="user-hero-section">
    <div class="flex">
      <%= gravatar_for current_user, size: 130 %>
      <p class="name"> <%= @user.first_name %> <%= @user.last_name %> </p>
    </div>
    <%= link_to "Update Profile", user_edit_path, class: 'btn-flat update-btn' %>
  </div>
  <div class="content-box">
    <% @posts.each do |post| %>
      <div class="post-card">
        <div class="user">
          <%= gravatar_for post.user, size: 50 %>
          <div class="name-date">
            <h4> <%= post.user.first_name.capitalize %> </h4>
            <p class="post-date"> <%= post.created_at.strftime("%B %d at %H:%M") %></p>
          </div>
        </div>
        <p> <%= post.content %> </p>
        <div class="card-buttons">
          <a class="btn-flat"><i class="material-icons left">thumb_up</i>Like</a>
          <a class="darken-4 btn-flat"><i class="material-icons left">comment</i>comment</a>
        </div>
      </div>
    <% end %>
  </div>
</div>