<div class="container post-container">
  <div class="content-box">
    <%= render "shared/error_messages", resource: @post %>
    <%= render 'layouts/new_post'%>
  </div>
  <div class = "content-box">
    <% @posts.each do |post| %>
      <div class="post-card">
        <div class="user">
          <%= gravatar_for post.user, size: 50 %>
          <div class="name-date">
            <h4> <%= post.user.first_name.capitalize %> </h4>
            <p class="post-date"> <%= post.created_at.strftime("%B %d at %H:%M") %></p>
          </div>
        </div>
        <p> <%= post.content %> </p>
        <div class="card-buttons">
          <%= link_to show_comment_path(post), class:'darken-4 btn-flat' do %>
            <i class="material-icons left">thumb_up</i> Like
          <% end %>
          <%= link_to show_comment_path(post), class:'darken-4 btn-flat' do %>
            <i class="material-icons left">comment</i> comment
          <% end %>
        </div>
        <% if post.comments.any? %>
          <p class="post-comments right-align right"><%= link_to "#{pluralize(post.comments.count, 'comment')}", show_comment_path(post) %></p>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</div>
